<div class="body">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center mx-auto col-lg-5">
            <form [formGroup]="loginForm" class="text-danger mt-5" (ngSubmit)="onSupmit()" >
                <div class="form-group border border-danger p-5">
                    <h1>Login Form ><</h1>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input type="email" class="form-control" ngModel id="email" name="email" formControlName='email'>
                        <span class="text-danger"
                        *ngIf="loginForm.get('email')!.invalid && (loginForm.get('email')!.dirty || loginForm.get('email')!.touched)"
                        >Vui lòng nhập email!</span>
                        <span class="text-success" *ngIf="!loginForm.get('email')!.invalid && (loginForm.get('email')!.dirty || loginForm.get('email')!.touched)">
                            Email hợp lệ
                          </span>
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" ngModel id="password" name="password"  formControlName='password'>
                        <span class="text-danger"
                        *ngIf="loginForm.get('password')!.invalid && (loginForm.get('password')!.dirty || loginForm.get('password')!.touched)"
                        >Mật khẩu Phải ít hơn 8 ký tự!</span>
                      </div>
                      <button type="submit"  class="btn btn-primary">Submit</button>
                </div>
              </form>
        </div>
    </div>  
</div>