<div class="custom-paginator pt-4 d-flex p-3">
    <button  status="primary" class="me-1 p-2" (click)="goFirstPage()" [disabled]="hasPreviousPage">
        <i class="bi bi-arrow-left-square-fill" ></i>
    </button>
    <button  status="primary" class="p-2" (click)="goPreviousPage()">
        <i class="bi bi-arrow-left-square-fill"></i>
   
    </button>
    <p class="paginator-page align-items-center justify-content-center p-2">{{ current_page }}/{{ last_page }}</p>
    <button  status="primary" class="me-1 p-2" (click)="goNextPage()" >
        <i class="bi bi-arrow-right-square-fill"></i>
    </button>
    <button  status="primary" class="p-2" (click)="goLastPage()" [disabled]="hasNextPage">
        <i class="bi bi-arrow-right-square-fill"></i>
    </button>
</div>