

  <div class="" role="main">
<div class="container">
  <div class="row d-flex mt-2 form-box">
    <input type="text" name="name" [(ngModel)]='title' class="form-control">
    <span class="mt-2 text-center">{{title}}</span>
  </div>
</div>
</div>

<div class="body">
  <div class="container">
    <div class="d-flex m-5">
      <div class="card m-auto">
        <img src="./assets/img/{{student.img}}" width="auto">
        <div class="card-body">
          <ul>
            <li>Tên: <span>{{student.Name}}</span></li>
            <li>Giới tính: <span>{{student.Gender}}</span></li>
            <li>Ngày sinh: <span>{{student.Date_of_birth}}</span></li>
            <li>Điểm TB: <span>{{student.Medium_score}}</span> - Đủ rớt =<</li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <h3 class="text-center m-auto mb-2">List Inventor - KSBoy!!!</h3>
      <table class="table table-dark">
        <thead>
          <tr class="table-info">  
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Year</th>
            <th scope="col">Passed</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let inventor of InventorList">
            <th>{{inventor.id}}</th>
            <td>{{ inventor.first }}</td>
            <td>{{ inventor.last }}</td>
            <td>{{ inventor.year }}</td>
            <td>{{ inventor.passed }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <h3 class="text-center m-auto mb-2 mt-5">List Products - KSBoy!!!</h3>
      <table class="table table-bordered border-primary ">
        <thead>
          <tr class="">  
            <th scope="col">image</th>
            <th scope="col">Product name</th>
            <th scope="col">Code</th>
            <th scope="col">Release date</th>
            <th scope="col">Price</th>
            <th scope="col">Star</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pro of ProductList">
            <th  class=""><img src="{{pro.imageUrl}}" width="50px"></th>
            <td class="table-danger">{{ pro.productName }}</td>
            <td  class="table-danger">{{ pro.productCode }}</td>
            <td  class="table-danger">{{ pro.releaseDate }}</td>
            <td  class="table-danger">{{ pro.price }}</td>
            <td  class="table-danger">{{ pro.starRating }}</td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<router-outlet></router-outlet>