.body{
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/737/657/desktop-wallpaper-pin-on-memes-n-shit-meme-frog.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    top: -100;
  }

  .form-box{
    background-color: antiquewhite;
  }


  ul {
    li{
      color: rgb(0, 0, 0);
      list-style: none;
      padding: 3px;
    }
  }

  h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(110, 255, 21);
    font-size: 30px;
    background-color: rgb(192, 5, 108);
    width: 50%;
  }


  .table{
    background-color: none;
  }
