<div class="container">
    <div class="d-flex m-5 a">
      <div class="card m-auto">
        <img src="{{student.img}}" width="350px">
        <div class="card-body">
          <ul>
            <li>Tên: <span>{{student.Name}}</span></li>
            <li>Giới tính: <span>{{student.Gender}}</span></li>
            <li>Ngày sinh: <span>{{student.Date_of_birth}}</span></li>
            <li>Điểm TB: <span>{{student.Medium_score}}</span> đ</li>
          </ul>
        </div>
      </div>
    </div>
  </div>