.body{
    height: 90vh;
    background-image: url(https://i.pinimg.com/originals/3b/7c/ac/3b7cac859ecd3d271595d95f9bb4e5bb.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

   
}